<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularGyakorlás</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="fooldal">AngularGyak</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="fooldal">Főoldal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="butorok">Bútorok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="rolunk">Rólunk</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <footer class="bg-dark text-white text-center fixed-bottom">
    <h4 class="py-3">AngularGyak &copy; Jókai Roland</h4>
  </footer>

  <router-outlet />
</body>

</html>